@define-mixin atSmall{
    @media screen and (min-width: 33.125rem){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media screen and (min-width: 50rem){
        @mixin-content;
    }
}

@define-mixin atLarge{
    @media screen and (min-width: 63.125rem){
        @mixin-content;
    }
}

@define-mixin clearfix{
    &::after {
        content: "";
        clear: both;
        display: table;
  }    
}